<div class="game">
  <div class="jeopardy-table">
    <table>
        <tr>
          <th><p>Category 1</p></th>
          <th><p>Category 2</p></th>
          <th><p>Category 3</p></th>
          <th><p>Category 4</p></th>
          <th><p>Category 5</p></th>
          <th><p>Category 6</p></th>
        </tr>
        <tr>
          <td><p>$100</p></td>
          <td><p>$100</p></td>
          <td><p>$100</p></td>
          <td><p>$100</p></td>
          <td><p>$100</p></td>
          <td><p>$100</p></td>
        </tr>
        <tr>
          <td><p>$200</p></td>
          <td><p>$200</p></td>
          <td><p>$200</p></td>
          <td><p>$200</p></td>
          <td><p>$200</p></td>
          <td><p>$200</p></td>
        </tr>
        <tr>
          <td><p>$300</p></td>
          <td><p>$300</p></td>
          <td><p>$300</p></td>
          <td><p>$300</p></td>
          <td><p>$300</p></td>
          <td><p>$300</p></td>
        </tr>
        <tr>
          <td><p>$400</p></td>
          <td><p>$400</p></td>
          <td><p>$400</p></td>
          <td><p>$400</p></td>
          <td><p>$400</p></td>
          <td><p>$400</p></td>
        </tr>
        <tr>
          <td><p>$500</p></td>
          <td><p>$500</p></td>
          <td><p>$500</p></td>
          <td><p>$500</p></td>
          <td><p>$500</p></td>
          <td><p>$500</p></td>
        </tr>
    </table>
  </div>
</div>
