<div class="main-menu">
  <section class="menu-block">
    <div class="menu-row">
      <div class="menu-button">
        <i class="fa fa-gamepad"></i>
        <p>Quick Game</p>
      </div>
      <div class="menu-button">
        <i class="fa fa-sliders"></i>
        <p>Custom Game</p>
      </div>
    </div>
    <div class="menu-row">
      <div class="menu-button">
        <i class="fa fa-user"></i>
        <p>Edit Profile</p>
      </div>
      <div class="menu-button">
        <i class="fa fa-wrench"></i>
        <p>Create Category</p>
      </div>
    </div>

    <div class="menu-description">
      <h3>About This Page:</h3>
      <p>
        Ultimate Jeopardy is the ultimate training tool to up your Jeopardy game!
        Practice with questions actually used on the show. Utilize the Wiki Info button
        to learn more about the answers. Create your own categories and practice previous questions
        you got wrong
      </p>
    </div>
  </section>
</div>
