/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

img {
  float:left;
  margin-left: 0;
  height: 45px;
}

.top-bar, .top-bar a {
  background-color: black;
  font-family: 'Bungee Outline', cursive;
  color: #FFFFFF;
  font-size: 25px;
  white-space: nowrap;
}

@media only screen and (min-width: 40.0625em) {

  .top-bar-section li:not(.has-form) a:not(.button) {
    background: black;
    font-family: 'Bungee Outline', cursive;
    font-size: 16px;
  }

  .top-bar-section ul {
    display: flex;
    align-items: center;
  }

}

.main-menu{
  height: 100%;
  width: 100%;
  background-image: url(/assets/jeopardy-white.jpg);
  background-size: cover;
}

.menu-block{
  height: 580px;
  width: 380px;
  background-color: #FAFAFF;
  float: right;
  margin-right: 60px;
  margin-top: 20px;
  opacity: .8;
  position: relative;
  border-radius: 25px;
  box-shadow: 15px 15px 10px black;
}

.menu-row{
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.menu-button{
  background-color: #FAFAFF;
  height: 100px;
  width: 150px;
  box-shadow: 5px 5px 10px black;
  margin: 20px;
}

.menu-button:hover{
  background-color: #E4D9FF;
}

.menu-block h4{
  margin-left: 15px;
  margin-bottom: 1px;
  font-weight: bold;
  color: #273469
}

.menu-block p{
  margin-left: 15px
}
